Source: configure-modemlink
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: configure-modemlink
Architecture: all
Depends: bluez-utils, irda-utils, dialog, su-me
Suggests: xdialog, xterm | x-terminal-emulator
Conflicts: modemlink-kanotix
Description: setup /dev/modem
 Lightweight setup tool for /dev/modem.
